@model IEnumerable<PersonalAccountant.Web.PAEntity.LoanInfo>

@{
    ViewData["Title"] = "Loan (List)";
}

<p class="text-right">
    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add New Loan</a>
</p>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PersonName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remarks)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td style="text-align:right">
                <a asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-edit btn btn-warning btn-xs" aria-hidden="true"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.ID"><i class="fa fa-remove btn btn-danger btn-xs" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
