@model IEnumerable<PersonalAccountant.Web.PAEntity.ExpenseCategory>

@{
    ViewData["Title"] = "Expense Category (List)";
}

<p class="text-right">
    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Create New Expense Category</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="text-align:right">
                Total Expense
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                <a href="/ExpenseHistories/index?ExpCategory=@item.ID" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>

            </td>
            <td align="right">
                @{
                    var expense = new PersonalAccountant.Web.Models.ExpenseModel().GetTotalExpenseByExpenseCategory(item.ID);
               
                }
                <span class="badge bg-red">@string.Format("{0:n0}", expense)</span>
            </td>
            <td style="text-align:right">
                <a asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-edit btn btn-warning btn-xs" aria-hidden="true"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.ID"><i class="fa fa-remove btn btn-danger btn-xs" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
