@model IEnumerable<PersonalAccountant.Web.PAEntity.Accounts>

@{
    ViewData["Title"] = "Account (List)";
}


<p class="text-right">
    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Create New Account</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th style="text-align:right">Income</th>
            <th style="text-align:right">Expense</th>
            <th style="text-align:right">Current Balance</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td align="right">
                @{
                    double total_income = new PersonalAccountant.Web.Models.IncomeModel().GetTotalIncomeByAccount(item.ID);
                }
                <span class="badge bg-green">@string.Format("{0:n0}", total_income)</span>
                <a href="/IncomeHistories/index?Account=@item.ID" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>


            </td>
            <td align="right">
                @{
                    double total_expense = new PersonalAccountant.Web.Models.ExpenseModel().GetTotalExpenseByAccount(item.ID);
                }
                <span class="badge bg-red">@string.Format("{0:n0}", total_expense)</span>
                <a href="/ExpenseHistories/index?Account=@item.ID" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
                


            </td>
            <td align="right">
                <span class="badge bg-blue">@string.Format("{0:n0}", (total_income - total_expense))</span>
                
            </td>
            <td style="text-align:right">
                <a asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-edit btn btn-warning btn-xs" aria-hidden="true"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.ID"><i class="fa fa-remove btn btn-danger btn-xs" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
